.wp-block-button {
  .wp-block-button__link {
    border-radius: 20px;
    font-size: 16px;
    padding: 8px 20px;
  }

  @each $name, $color in $brand-colors {
    &.btn-#{$name} {
      a {
        background-color: $color;
        text-decoration: none;
        transition: 0.15s;
      }

      a:hover {
        background-color: darken($color, 8%);
      }
    }
  }
}
