.card {
  p { @include rfs(16); }

  position: relative;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: 0.3s;

  &:hover {
    border: 1px solid colors(primary);
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1), 0 5px 8px rgba(0, 0, 0, 0.18);
    z-index: 500;
  }

  img {
    height: 220px;
    object-fit: cover;
  }
}

.card-img-wrapper {
  /* 参考 https://www.ameamelog.com/css-scale/ */
  margin: 0;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    transition: 0.3s;
  }

  & img {
    height: 220px;
    object-fit: cover;
    transition: 0.3s;
  }

  /* 参考 https://saruwakakun.com/html-css/reference/image-text */
  & p {
    @include rfs(14);

    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    color: $text-white;
    background: rgba(0, 197, 142, 0.6); /* 見やすさ優先？で灰色なら rgba(102, 102, 102, 0.5) */
    line-height: 1;
    padding: 5px 10px;
    border-bottom-right-radius: 7px;
  }

  /* .card:hover &::before {
    background: rgba(0, 0, 0, 0.2);
  } */

  .card:hover & img {
    transform: scale(1.05);
  }
}

.card-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: transparent;
}
