.entry-header {
  height: 350px;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.entry-thumbnail {
  position: relative;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    content: " ";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.bg-inner {
  position: absolute;
  width: 100%;
}
