body {
  background-color: #f2f1ef;
}

.wrap {
  min-height: 100vh;
}

blockquote {
  @extend .blockquote;

  padding-left: 16px;
  border-left: 5px solid #ddd;
}

table {
  @extend .table;
}

p {
  @include rfs(20); // px
}
