/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #00c58e,
  primary-light: #42b883,
  header: #eee
);

$brand-colors: (
  "twitter": #1da1f2,
  "twitch": #6441a4,
  "discord": #7289da,
  "youtube": rgb(255, 0, 0)
);

$text-black: #333;
$text-white: #eee;

$header-height: 200px;

/* Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

@function colors($key) {
  @return map-get($theme-colors, $key);
}

@function brand($key) {
  @return map-get($brand-colors, $key);
}
